<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rafaelprudente.diagnostics">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="19" />

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6269499933711859~8557946364" />
    </application>
</manifest>
